body {
  margin: 0;
  padding: 0;
  color: #000000;
  font-size: 120%;
  width: 100%;
  font-family: "Minecraft", sans-serif;
  background-image: url("../images/background-4.jpg");
}

header {
  background: rgba(129, 255, 118, 0.75);
  height:90px;
  padding: 10px;
}
header img {
  float: right;
}

main {
  overflow-y: auto;
  margin-bottom:70px;
  min-height: 200px;
  max-height: 79vh;

}

#inhoud {
  margin: 10px;
  padding: 10px;
}

.verhaal {
  margin: 10px;
  padding: 10px;
  width:47%;
  min-width: 40%;
  display: inline-flex;
  min-height: 250px;
  background: rgb(250, 247, 233, 0.7);
}

.verhaal-image {
  margin:4px;
  max-width: 200px;
  border-right: 4px solid rgba(100, 82, 0)
}
.verhaal-content {
  margin: 4px;
}

footer {
  background: rgba(100, 82, 0, 0.9);
  width:100%;
  height:50px;
  padding:10px;
  position:fixed;
  bottom:0px;
}
